.profile_container {
  margin-bottom: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_photo {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-image: linear-gradient(120deg, #FF8C53 0%, #FA3D44 100%);
  margin-bottom: 20px;
}

.name {
  font-size: 13px;
  margin-bottom: 5px;
}

.position {
  font-size: 13px;
  color: #A7A7A7;
}
