.sidebar_container {
  width: 28vh;
  height: 100vh;
  z-index: 1;
  box-sizing: border-box;
  background-color: #FFF;
  -webkit-box-shadow: 8px 0px 25px -20px rgba(143,143,143,1);
  -moz-box-shadow: 8px 0px 25px -20px rgba(143,143,143,1);
  box-shadow: 8px 0px 25px -20px rgba(143,143,143,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.sidebar_nav {
  font-size: 13px;
  color: #A0A0A0;
}

.sidebar_nav_title {
  padding: 0 35px;
}

.sidebar_menu {
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.sidebar_menu li>a {
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2a2a2a;
  text-decoration: none;
  height: 50px;
  font-size: 14px;
  list-style: none;
}

.sidebar_menu li>a:hover {
  background-color: #F8F8F8;
  color: #4346E1;
}

.active_nav {
  background-color: #F8F8F8 !important;
  color: #4346E1 !important;
}
